@import url(‘https://fonts.googleapis.com/css2?family=Montserrat&fisplay=swap’);

body{
     

}
#menu a, button{
    font-size: 18px !important;
    font-weight: 600;
   
}

#menu a{
    color:#3f3f3f;
    
}
.carousel-inner {
    max-height:30rem !important;
    max
}
#img-equipo{
    max-height:30rem !important;
    width:50%;
}  
#Cara{
    ),
    "end": (
      property: right,
      class: end,
      values: $position-values
}